<div class="flex-wrapper ">
    <div class="container" style="margin-top: 70px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h1 style="text-align: center"><%= title %> </h1>

            <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="name">Question</span>
                    <input id="questionText" type="text" class="form-control" placeholder="Question" aria-label="Name"
                        aria-describedby="Contact Name" name="questionText" value="<%=list2.questionText %>" required>
                </div>


                <% if (title == "Update Question") { %>
                <button type="submit" class="btn btn-primary" id="editButton"><i class="fas fa-edit fa-lg"></i>
                    Update</button>
                <a href="/delete-question/<%= list2._id %>" class="btn btn-danger btn delete"><i
                        class="fas fa-trash-alt fa-lg"></i><span class="d-none d-md-inline text-white"> Delete</span></a>
                <a href="/question/<%= list2.survey_id %>" class="btn btn-danger btn"><i
                        class="fas fa-backspace fa-lg"></i><span class="d-none d-md-inline text-white">  Cancel</span></a>
                <% } else { %>
                <button type="submit" class="btn btn-primary" id="editButton"><i class="fas fa-edit fa-lg"></i>
                    Add</button>
                <a href="/question/<%= list.id %>" class="btn btn-danger btn"><i class="fas fa-backspace fa-lg"></i>
                    Cancel</a>
                <% } %>
            </form>
        </div>
    </div>
</div>